/* Login.css */
.login-container {
    background: linear-gradient(to right, #2c5364, #0f2027, #1c92d2);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.logo-text{
    color : #2DAA9E;
}

.login-text{
    color : #2DAA9E;
}

.signup-link{
    color: #2DAA9E;
    text-decoration: none;
    font-weight: 600;
}

.login-btn{
    padding: 8px 0px 8px 0px;
    border-radius: 15px;
    border: none;
    background-color: #2DAA9E;
    color : white;
}

.login-btn:hover{
    padding: 8px 0px 8px 0px;
    border-radius: 15px;
    border: none;
    background-color: #2DAA9E;
    color : white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.pass-css {
    margin-left: 15px;  
    color: #2DAA9E;  
    font-weight: 500;  

}

@media (max-width: 576px) { 
    .pass-css {
        margin-left: 5px;  /* Reduce left margin for smaller screens */
        font-size: 14px;    /* Adjust font size for better fit */
    }
}
